@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Audiowide&family=Quicksand:wght@300..700&family=Shadows+Into+Light+Two&display=swap');

@import "tailwindcss";

@theme {
  --color-grey: #555B6E;
  --color-green: #89B0AE;
  --color-mint: #BEE3DB;
  --color-white: #FAF9F9;
  --color-beige: #FFD6BA;


  --font-amatic: 'Amatic SC', cursive;
  --font-audiowide: 'Audiowide', cursive;
  --font-quicksand: 'Quicksand', sans-serif;
  --font-shadows: 'Shadows Into Light Two', cursive;

 
}
